$ cat .gitignore

# Ignorar
.zfproject.xml
application/Bootstrap.php
application/configs/application.ini
public/index.php

/nbproject/**/* 
/tests/log/**/*
/nbproject/
/temp/
/application/*.php_
/application/configs/_*.ini
/.git-rewrite/
/application/configs/sandbox_application.ini