$ cat .gitignore

# Ignorar
.zfproject.xml
application/Bootstrap.php
application/configs/application.ini
public/index.php


library/Moxca/
library/Author/

/nbproject/**/*
nbproject/private/**/*
nbproject/project.properties

/tests/log/**/*
/nbproject/
/temp/
/application/*.php_
/application/configs/_*.ini
/application/configs/_bak_dynamic.xml
/.git-rewrite/
/application/configs/sandbox_application.ini
/public/img/editions/raw/*
/public/img/editions/tb/*
/public/img/uploads/*

/public/js/tinymce

/public/js/jquery.pajinate*.*

/public/img/special/*
/public/img/up/*
/public/js/admin/

/wbfnts
