$ cat .gitignore

# Ignorar
.zfproject.xml
application/Bootstrap.php
application/configs/application.ini
public/index.php

/nbproject/**/* 
/tests/log/**/*
/nbproject/
/temp/
/application/*.php_
/application/configs/_*.ini
/application/configs/_bak_dynamic.xml
/.git-rewrite/
/application/configs/sandbox_application.ini
/public/img/editions/raw/*
/public/img/editions/tb/*

/public/js/tinymce/langs/
/public/js/tinymce/skins/
/public/js/tinymce/themes/
/public/js/tinymce/js/