/********** FORMS **********/

a.default_3:link, a.default_3:visited, a.default_3:hover, a.default_3:visited:hover, a.default_7:link, a.default_7:visited, a.default_7:hover, a.default_7:visited:hover{-moz-border-radius:8px; -webkit-border-radius:8px;}

div.home_box, div.main_box_2{-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}

div.main_box_3{-moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px;}

input.button, input.button_2, input.button_3{-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}