/************ FORMS ************/

label{font-weight:bold; font-size:1em; clear:both; display:block;}

label.tiny{font-weight:bold; font-size:1em; clear:both; display:block; margin:0 0 10px 0;}

label.filter{font-weight:bold; font-size:1em; clear:none; float:left; margin:10px 0 0 0;}

label.filter_2{font-weight:bold; font-size:1em; clear:none; float:left; margin:0 0 0 0;}

label.filter_3{font-weight:normal; font-size:1em; clear:none; float:left; margin:10px 0 0 0;}

label.header{font-weight:bold; font-size:0.7em; display:block; float:left; margin:2px 10px 0 0;}

label.table{font-weight:bold; font-size:1em; display:block; float:left; margin:10px 10px 0 0;}

input.check{border:none; background:none; margin:0 5px 0 0;}

input.single{background:#f1f7ed; margin:10px 0 20px 0; width:346px; height:36px; border:none; padding:0 10px 0 10px; clear:both; border:2px solid #cbd2c6; font-size:1em; font-weight:normal;}

input.single_tiny{background:#f1f7ed; margin:10px 0 20px 0; width:496px; height:36px; border:none; padding:0 10px 0 10px; clear:both; border:2px solid #cbd2c6; font-size:1em; font-weight:normal;}

input.single:focus, input.single_tiny:focus, input{background:#fff;}

input.single_tooltip{background:#afa79f; margin:10px 0 10px 0; width:354px; height:18px; border:none; font-size:1em; font-weight:normal; padding:0 0 0 2px; clear:both;}

input.single_header{background:#ffee90; margin:2px 10px 0 0; width:100px; height:18px; border:none; font-weight:bold; padding:0 0 0 2px; float:left;}

input.single_readonly{background:#eee; margin:10px 0 20px 0; width:346px; height:36px; border:none; padding:0 10px 0 10px; clear:both; border:2px solid #cbd2c6; font-size:1em; font-weight:normal; color:#666;}
	
input.small{background:#afa79f; margin:10px 0 20px 0; width:50px; height:16px; border-right:none; border-left:none; border-bottom:none; font-size:1em; font-weight:normal; padding:0 0 0 2px;}

input.small_2{background:#f1f7ed; margin:10px 0 0 10px; width:70px; height:35px; border:none; padding:1px 7px 0 7px; clear:none; float:left; border:2px solid #cbd2c6; font-size:1em; font-weight:normal;}

input.button{color:#fff; font-size:1em; font-weight:bold; padding:3px 5px; border:none; cursor:pointer;}

input.button_2{color:#fff; font-size:1em; font-weight:bold; padding:9px 12px 8px 11px; border:none; cursor:pointer; margin:0 0 0 5px;}

input.button{background:#006f45;}

input.button_2{background:#00aef1;}
	
option{background:#f1f7ed; padding:6px 7px 0 7px; font-size:1em; font-weight:normal;}

select{background:#f1f7ed; margin:10px 0 20px 0; width:370px; height:40px; border:none; padding:6px 7px 0 7px; clear:both; border:2px solid #cbd2c6; font-size:1em; font-weight:normal;}

select.select_tiny{background:#f1f7ed; margin:10px 0 20px 0; width:518px; height:40px; border:none; padding:6px 7px 0 7px; clear:both; border:2px solid #cbd2c6; font-size:1em; font-weight:normal;}
	
select.medium{background:#f1f7ed; margin:10px 0 20px 0; width:240px; height:40px; border:none; padding:6px 7px 0 7px; clear:both; border:2px solid #cbd2c6; font-size:1em; font-weight:normal;}

select.medium_2{background:#f1f7ed; margin:0 0 0 0; width:446px; height:40px; border:none; padding:6px 7px 0 7px; clear:both; border:2px solid #cbd2c6; font-size:1em; font-weight:normal;}

select.medium_3{background:#f1f7ed; margin:0 0 0 10px; width:240px; height:40px; border:none; padding:6px 7px 0 7px; clear:none; float:left; border:2px solid #cbd2c6; font-size:1em; font-weight:normal;}

select.medium_4{background:#f1f7ed; margin:10px 0 0 10px; width:144px; height:40px; border:none; padding:  6px 4px 0 4px; clear:none; float:left; border:2px solid #cbd2c6; font-size:0.9em; font-weight:normal;}

select.medium_5{background:#f1f7ed; margin:0 0 0 0; width:290px; height:40px; border:none; padding:6px 7px 0 7px; clear:none; float:left; border:2px solid #cbd2c6; font-size:1em; font-weight:normal;}

select.medium_6{background:#f1f7ed; margin:10px 0 0 10px; width:170px; height:40px; border:none; padding:6px 4px 0 4px; clear:none; float:left; border:2px solid #cbd2c6; font-size:0.9em; font-weight:normal;}
	
select.small{background:#f1f7ed; margin:10px 0 20px 0; width:80px; height:40px; border:none; padding:6px 7px 0 7px; clear:both; border:2px solid #cbd2c6; font-size:1em; font-weight:normal;}

select.small_2{background:#f1f7ed; margin:10px 0 0 10px; width:80px; height:40px; border:none; padding:6px 7px 0 7px; clear:none; float:left; border:2px solid #cbd2c6; font-size:1em; font-weight:normal;}
	
.text_attention{background:#fffad7; padding:10px; border:1px solid #f2cd00; margin:30px 0 30px 0;}
	
.text_error{background:#ffebe8; padding:10px; border:1px solid #c00; margin:30px 0 30px 0;}
	
.text_error_header{color:#f00; margin:0 0 10px 0;}

.text_success{background:#e8ffea; padding:10px; border:1px solid #0ecc00; margin:10px 0 30px 0;}
	
textarea{width:706px; padding:2px; background:#fff; border:2px solid #cbd2c6;}

textarea.tiny{width:706px; padding:2px;}

.tooltip{border:1px dotted #666; background:#eee; padding:10px; color:#666; width:470px; margin:0 0 20px 0;}