/********** GENERAL **********/
*{margin:0; padding:0; font-size:15px; color:#474e42; font-family:"Trebuchet MS", Arial, sans-serif;}
	
body{background:url(/img/background_110630.jpg) top center no-repeat;}

html, body{height:100%;}

ul li, ol li{margin:0 0 0 40px;}
	
/********** CONTENT **********/

div#apendix{float:left; margin:0 0 0 0; width:220px;}
	
div#breadcrumb{font-size:0.7em; margin:0 0 30px 0; border-bottom:1px solid #eee; padding:0 0 9px 0; color:#777; font-weight:bold;}
	
div#breadcrumb a{font-size:1em; font-weight:bold;}


#container{min-height:100%; position:relative;}

* html #container{height:100%;}
	
div#footer{width:100%; clear:both; background: url(/img/background_footer.png) top center no-repeat; position:absolute; bottom:0; height:69px; margin:0; padding:0;}

div#footer_wrapper{margin:0 auto; width:996px; clear:both; font-size:0.9em;}

div#footer_column_1, div#footer_column_2{width:480px; color:#fff; font-size:1em; font-weight:bold;}

div#footer_column_1{margin:33px 0 0 0; float:left;}

div#footer_column_2{margin:33px 6px 0 0; float:right; text-align:right;}

div#footer_column_2 a{color:#fff; font-size:1em; font-weight:bold; margin-left: 16px}

div#main_content{float:left; margin:0 20px 20px 0; width:710px;}

div#main_content_home{clear:both; margin:0 0 20px 0;}

div#main_content_inner{clear:both; margin:0 0 20px 0;}

div#structure{margin:0 auto; width:996px; clear:both; padding-bottom:69px;}

div#structure_login{margin:0 auto; width:996px; clear:both; padding-bottom:69px;}

div#structure_wrapper{margin:0; clear:both; padding-bottom:69px;}

div#header{margin:0 auto 20px 0; background:url(/img/background_header_1.png) top center repeat-x; clear:both; height:138px;}

div#header_login{margin:0 auto 50px 0; clear:both; height:138px;}

div#header_wrapper_1{margin:0 auto; clear:both; width:996px;}

div#header_wrapper_2{margin:38px 4px 0 0; clear:both; text-align:right; color:#ddd;}

div#header_wrapper_3{margin:0 auto; clear:both; width:996px;}

div#header_column_1{float:left; margin:20px 0 0 0;}

div#header_column_2{float:right; width:470px; margin:10px 0 0 0;}

div#home_column_1{float:left; width:480px;}

div#home_column_2{float:right; width:480px; margin:0 6px 0 0;}

div#login{float:right;}
	
.clear_both{clear:both;}

.download_item_icon{width:45px; height:35px; float:left; margin:4px 0 0 0;}

.download_item_info{width:155px; float:left;}
	
.float_left{float:left;}
	
.float_right{float:right;}
	
.loading_hidden, .display_hidden{visibility:hidden;}

.loading_visible{visibility:visible;}

.margin_1{margin:25px 0 0 0;}

.margin_2{margin:0 0 20px 0;}

.margin_3{margin:36px 45px 0 0;}

.margin_4{margin:0 25px 0 15px;}

.margin_5{margin:2px 25px 0 0;}

.margin_6{margin:0 10px 0 0;}

.margin_7{margin:3px 0 0 10px;}

.margin_8{margin:150px 0 180px 250px; float:left;}

.margin_9{margin:0 0 30px 0;}

.margin_10{margin:0 0 10px 0;}

.margin_11{margin:0 20px 0 0;}

.margin_12{margin:30px 0 10px 0;}

.margin_13{margin:0 0 50px 0;}

.margin_14{margin:0 10px 30px 0;}

.margin_15{margin:50px 0 0 0;}

.margin_16{margin:10px 20px 0 0;}

.margin_17{margin:10px 0 30px 0;}

.margin_18{margin:10px 0 0 0;}

.margin_19{margin:70px 0 0 0;}

.margin_20{margin:56px 40px 0 0;}

.margin_21{margin:0 0 3px 0;}

.home_box{margin:0 20px 0 0; background:#f1f7ed; padding:30px; float:left; width:220px;}

.home_box_1_top{background:url(/img/table_top_home_2.png) top left no-repeat; padding:10px 0 0 20px; clear:both; width:460px; height:30px; font-size:1.2em; font-weight:bold; color:#fff;}

.home_box_1_middle{background:#f1f7ed; padding:20px 20px 0 20px; clear:both; width:440px;}

.home_box_1_bottom{background:url(/img/table_bottom_home.png) bottom left no-repeat; padding:10px 0 0 20px; clear:both; width:460px; height:30px;}

.home_box_2_top{background:url(/img/table_top_home.png) left top no-repeat; padding:13px 0 0 20px; clear:both; width:460px; height:34px; font-size:1.2em; font-weight:bold; color:#fff;}

.main_box_1{margin:0 0 30px 0; background:#f1f7ed; padding:10px;}

.main_box_2{margin:26px 0 30px 0; background:#f1f7ed; padding:10px;}

.main_box_3{margin:0 0 20px 0; background:#fff585; padding:20px;}

.edita_senha_box{margin:0 0 6px 0; background:#fff585; padding:6px; width:360px;}

.esqueceu_senha {font-size: 12px; margin-left: 16px;}


/************ FONTS ************/

.bold{font-weight:bold;}

.border_1{border-top:1px solid #ddd; padding:10px 0;}

.nobold{font-weight:normal;}

.caption_1{font-size:1.25em; color:#777;}

.caption_2{font-size:1.45em; color:#75b14b; margin:0 0 20px 0; font-weight:bold;}

.caption_3{font-size:1em;}

.caption_4{font-size:0.8em;}

.caption_5{font-size:0.8em; color:#777;}

.caption_6{font-size:0.85em;}

p.ok{background:url(/img/icon_ok.png) center left no-repeat; font-size:1em; font-weight:normal; padding:2px 0 2px 28px;}

p.ok_2{background:url(/img/icon_ok_2.png) center left no-repeat; font-size:1em; font-weight:normal; padding:0 0 2px 20px;}

p.no{background:url(/img/icon_no.png) center left no-repeat; font-size:1em; font-weight:normal; padding:2px 0 2px 28px;}

p.no_2{background:url(/img/icon_no_2.png) center left no-repeat; font-size:1em; font-weight:normal; padding:0 0 2px 20px;}

p.verify{background:url(/img/icon_verify.png) center left no-repeat; font-size:1em; font-weight:normal; padding:2px 0 2px 28px;}

p.verify_2{background:url(/img/icon_verify_2.png) center left no-repeat; font-size:1em; font-weight:normal; padding:0 0 2px 20px;}

p.atention{background:url(/img/icon_atention.png) center left no-repeat; font-size:1em; font-weight:normal; padding:3px 0 3px 28px;}

p.atention_2{background:url(/img/icon_atention_2.png) center left no-repeat; font-size:1em; font-weight:normal; padding:0 0 2px 20px;}

h1{font-size:2em; margin:0 0 30px 0; color:#75b14b;}

h1.h1_2{font-size:2em; margin:0 0 20px 0; color:#75b14b;}

h2{font-size:1.2em;}

h2.h2_2{margin:0 0 8px 0; color:#75b14b;}

h2.subtitle{font-weight:bold; font-size:1.25em; margin:0 0 20px 0; color:#75b14b;}

h2.subtitle_2{font-weight:bold; font-size:1.25em; margin:0 0 10px 0; color:#75b14b;}

h3{font-weight:normal; font-size:1.2em; margin:0 0 20px 0; color:#75b14b; padding:0 0 6px 0; border-bottom:1px solid #d9ded7;}

hr {clear:both; margin:0 0 4px 0; display:block; color: #eee; }

.subtitle{font-weight:bold; font-size:1.25em; margin:0 0 30px 0;}

/************ LINKS ************/

a:link, a:visited, a:hover, a:visited:hover{color:#00aef1; text-decoration:none;}

a.default_1:link, a.default_1:visited, a.default_1:hover, a.default_1:visited:hover{color:#006f45; font-weight:bold; font-size:1em;}

a.default_2:link, a.default_2:visited, a.default_2:hover, a.default_2:visited:hover{color:#00aef1; font-weight:bold; font-size:1em;}

a.default_3:link, a.default_3:visited, a.default_3:hover, a.default_3:visited:hover{display:block; background:#006f45; color:#fff; font-size:0.7em; font-weight:bold; padding:3px 5px; border:none; cursor:pointer;}

a.default_4:link, a.default_4:visited, a.default_4:hover, a.default_4:visited:hover{background:url(/img/icon_link.png) center left no-repeat; color:#00aef1; font-size:1em; font-weight:bold; padding:0 0 0 15px;}

a.default_5:link, a.default_5:visited, a.default_5:hover, a.default_5:visited:hover{background:url(/img/icon_link.png) center left no-repeat; color:#00aef1; font-size:1em; font-weight:bold; padding:0 0 0 15px;}

a.default_6:link, a.default_6:visited, a.default_6:hover, a.default_6:visited:hover{background:url(/img/icon_ok.png) center left no-repeat; color:#00aef1; font-size:1em; font-weight:bold; padding:0 0 2px 28px;}

a.default_7:link, a.default_7:visited, a.default_7:hover, a.default_7:visited:hover{display:block; background:#00aef1; color:#fff; font-size:1em; font-weight:bold; padding:9px 9px 8px 8px; border:none; cursor:pointer; float:left;}

a.default_8:link, a.default_8:visited, a.default_8:hover, a.default_8:visited:hover{background:url(/img/icon_atention.png) center left no-repeat; color:#00aef1; font-size:1em; font-weight:bold; padding:0 0 2px 28px;}

a.default_9:link, a.default_9:visited, a.default_9:hover, a.default_9:visited:hover{background:url(/img/icon_link_2.png) center left no-repeat; color:#fff; font-size:1.25em; font-weight:bold; padding:0 0 0 15px;}

a.default_10:link, a.default_10:visited, a.default_10:hover, a.default_10:visited:hover{color:#00aef1; font-weight:bold; font-size:0.8em;}

a.default_11:link, a.default_11:visited, a.default_11:hover, a.default_11:visited:hover{background:url(/img/icon_link_3.png) center left no-repeat; color:#00aef1; font-size:1em; font-weight:bold; padding:0 0 0 10px;}

a.default_12:link, a.default_12:visited, a.default_12:hover, a.default_12:visited:hover{font-size:0.8em; font-weight:normal;}

a.default_13:link, a.default_13:visited, a.default_13:hover, a.default_13:visited:hover{font-size:0.9em; font-weight:bold;}

/*********** TABLES ************/

td.td_login_1{background:url(/img/background_login_round_3.png) top right repeat-y;}

td.td_login_2{width:5px; background:#ffca40;}

td.td_login_3{width:5px; height:9px; background:url(/img/background_login_round_1.png) top left no-repeat;}

td.td_login_4{height:9px; background:url(/img/background_login_round_2.png) top right no-repeat;}

th.manage_title{font-size:1.25em; font-weight:bold; color:#fff; height:47px;}

th.manage_title_2{font-size:0.85em; font-weight:bold; height:30px;}

th.manage_title_home{font-size:1.25em; font-weight:bold; color:#fff; height:50px;}
	
td.manage_title_2{font-size:1em; font-weight:bold; height:80px;}

td.manage_title_3{font-size:1em; font-weight:bold; height:30px;}

td.manage_title_4{font-size:0.85em; font-weight:normal; height:50px;}
	
th.left{background:url(/img/table_top_left.png) left top no-repeat; padding:5px 0 5px 20px;}
	
th.left_home{background:url(/img/table_top_home.png) left top no-repeat; padding:5px 0 5px 20px;}

th.left_home_2{background:#d5e7c9; padding:0 0 0 20px;}
	
th.middle{background:url(/img/table_top_middle.png) left top repeat-x; padding:5px 0 5px 0;}

th.middle_home_2{background:#d5e7c9; padding:0 0 0 0;}
	
th.right{background:url(/img/table_top_right.png) right top no-repeat; padding:5px 20px 5px 0;}
	
th.right_home_2{background:#d5e7c9; padding:0 20px 0 0;}
	
td.left_2{background:url(/img/table_top_left_2.png) left top no-repeat; padding:5px 0 5px 20px;}
	
td.right_2{background:url(/img/table_top_right_2.png) right top no-repeat; padding:5px 20px 5px 0;}
	
td.left_3{background:url(/img/table_top_left_2.png) left bottom no-repeat; padding:5px 0 5px 20px;}

td.left_4{background:url(/img/table_top_left_3.png) left bottom no-repeat; padding:5px 0 5px 20px; font-size:1em;}

td.right_4{background:url(/img/table_top_left_3.png) right bottom no-repeat; padding:5px 20px 5px 0;}
	
td.manage_item_left{font-size:0.9em; font-weight:bold; padding:15px 0 15px 20px; background:#d5e7c9; border-bottom:2px solid #fff;}

td.manage_item_left_home{font-size:0.85em; font-weight:bold; padding:10px 0 10px 20px; background:#f1f7ed; border-bottom:2px solid #fff;}

td.manage_item_left_home_2{font-size:0.85em; font-weight:bold; padding:10px 0 10px 20px; background:#f0ebb8; border-bottom:2px solid #fff;}
	
td.manage_item_middle{font-size:0.9em; font-weight:bold; padding:15px 0 15px 0; background:#e3efdb; border-bottom:2px solid #fff;}

td.manage_item_middle_2{font-size:0.9em; font-weight:bold; padding:15px 0 15px 0; background:#d5e7c9; border-bottom:2px solid #fff;}

td.manage_item_middle_home{font-size:0.85em; font-weight:bold; padding:10px 0 10px 0; background:#f1f7ed; border-bottom:2px solid #fff;}

td.manage_item_middle_home_2{font-size:0.85em; font-weight:bold; padding:10px 0 10px 0; background:#f0ebb8; border-bottom:2px solid #fff;}
	
td.manage_item_right{font-weight:bold; font-size:0.9em; padding:15px 0 15px 0; background:#f1f7ed; border-bottom:2px solid #fff;}
	
td.manage_item_right_2{font-weight:bold; font-size:0.9em; padding:15px 0 15px 0; border-bottom:2px solid #fff; background:#d5e7c9;}

td.manage_item_right_home{font-weight:bold; font-size:0.85em; padding:10px 0 10px 0; background:#f1f7ed; border-bottom:2px solid #fff;}

td.manage_item_right_home_2{font-weight:bold; font-size:0.85em; padding:10px 0 10px 0; background:#f0ebb8; border-bottom:2px solid #fff;}

/********** CLEARFIX **********/

.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}

.clearfix{display:inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height:1%;}
.clearfix{display:block;}
/* End hide from IE-mac */

/* list em/px

11px - 0.7em
12px - 0.8em
14px - 0.9em
15px - 1em
16px - 1.05em
18px - 1.2em
19px - 1.25em
22px - 1.45em
30px - 2em

*/